<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container ">
        <div class="header-container d-flex align-items-center justify-content-between rounded rounded-2 rounded-start">
            <div class="logo  rounded-start">
                <h1 class="text-light"><a href="index.html"><span>SofODA</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
           
                <nav id="navbar" class="navbar">
                    <ul>
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <li><a class="nav-link scrollto active">Home</a></li>
                        </NavLink>

                        <li><a class="nav-link scrollto" href="#about">About</a></li>
                        <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
                        <li><a class="nav-link scrollto " href="#portfolio">Portafolio</a></li>
                        <NavLink class="" href="Compra" Match="NavLinkMatch.All">
                            <li><span class="nav-link scrollto" href="">Compra</span></li>
                        </NavLink>

                        <li class="dropdown">
                            <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">Drop Down 1</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="#">Deep Drop Down 1</a></li>
                                        <li><a href="#">Deep Drop Down 2</a></li>
                                        <li><a href="#">Deep Drop Down 3</a></li>
                                        <li><a href="#">Deep Drop Down 4</a></li>
                                        <li><a href="#">Deep Drop Down 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down 2</a></li>
                                <li><a href="#">Drop Down 3</a></li>
                                <li><a href="#">Drop Down 4</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>

                    </ul>
                   
                </nav><!-- .navbar -->
            

            
            <div class="logo  rounded-end">
                <h1 class=""><a href=""><span><i class="bi bi-house"></i>   </span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

        </div><!-- End Header Container -->
    </div>
</header><!-- End Header -->

@code {

}
