<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        <h1>Sistema de compra para el usuario</h1>
        <h2>Sistema diseñado con Bootstrap</h2>
        <NavLink class="nav-link" href="Compra" Match="NavLinkMatch.All">
            <a href="Compra" class="btn-get-started scrollto">Comprar </a>
        </NavLink>
        
    </div>
</section><!-- End Hero -->
@code {

}
