 <!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="section-title" data-aos="fade-right">
                    <h2>Servicios</h2>
                    <p>SOFTODA ofrece una serie y variada cantidad de servicios.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4><a href="">Deportes</a></h4>
                            <p>¡Sumérgete en el mundo del bienestar y la vitalidad con nuestro servicio de deportes! Desde la adrenalina de la competencia hasta la tranquilidad de la práctica individual, estamos aquí para guiarte en cada paso de tu viaje hacia una vida más activa y saludable. Descubre el poder transformador del movimiento, la disciplina y la superación personal. ¡Únete a nosotros y haz del deporte tu estilo de vida!</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box" data-aos="zoom-in" d ata-aos-delay="200">
                            <NavLink class="" href="Compra" Match="NavLinkMatch.All">
                                <div class="icon"><i class="bi bi-cart4"></i></div>
                                <h4><a href="">Productos</a></h4>
                            </NavLink>
                           
                            <p>¡Bienvenido al servicio que simplifica tus compras! Nos enorgullece ofrecerte una experiencia de compra excepcional, donde la comodidad y la calidad se unen                                     para satisfacer todas tus necesidades. Desde productos de alta gama hasta soluciones cotidianas, estamos aquí para hacer que tu proceso de compra sea sin                                       estrés y lleno de satisfacción. ¡Déjanos ser tu guía en el mundo de las compras y descubre una nueva forma de adquirir lo que necesitas!</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4><a href="">Administración</a></h4>
                            <p>¡Optimiza tu negocio con nuestro servicio de administración de software! Te ofrecemos soluciones integrales para gestionar eficientemente tus sistemas
                                y aplicaciones, permitiéndote concentrarte en lo que realmente importa: hacer crecer tu empresa. Desde la implementación inicial hasta el mantenimiento
                                continuo, nuestro equipo de expertos
                                está aquí para garantizar que tus sistemas funcionen sin problemas, sean seguros y estén siempre actualizados. Confía en nosotros para llevar la
                                administración de tu software al siguiente
                            nivel y desbloquea todo el potencial de tu negocio.</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4><a href="">Mapas</a></h4>
                            <p>Descubre un mundo de posibilidades con nuestro servicio de mapas. Desde explorar nuevas ciudades hasta planificar tus próximas aventuras al aire libre,
                                nuestros mapas te brindan la información precisa que necesitas para navegar con confianza. Ya sea que estés buscando restaurantes cercanos, senderos para
                                caminar o simplemente quieras conocer más sobre tu entorno, estamos aquí para ayudarte a encontrar tu camino. Con actualizaciones regulares y una amplia gama
                                de características, nuestro servicio de mapas es tu compañero perfecto para explorar el mundo que te rodea. ¡Emprende tu próxima aventura con nosotros!</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
